<div class="row m-0">
  <div class="col-12 p-0">
    <div class="embedded-video-wrapper">
      <div>
        <div class="embedded-video">
          {{ apos.singleton(data.widget, 'video') }}
        </div>
      </div>
    </div>
  </div>
</div>
