// Hide image title on apostrophe-images
.apos-image-widget-image-title {
  display: none;
}

// Add scroll bar to table
.apos-rich-text {
  max-width: 100%;
  overflow: auto;

  table {
    margin-top: 2em;
  }

  span {
    background-color: transparent !important;
  }

  ul {
    @include bulletedList;
  }
}

.apos-area-widgets {
  height: 100%;
}
