{% set defaultColumnOptions = {
  blockLevelControls: true,
  widgets: {
    'apostrophe-rich-text': apos.typo.standard,
    'apostrophe-images': {},
    'cr-button': {},
    'cr-embedded-video': {}
  }
} %}

{% macro threeColumn(left, center, right, textAlignment, verticalAlignment) %}
  <div class="container cr-column">
    <div class="row {{ textAlignment }} {{ verticalAlignment }}">
      <div class="col-md-4 col-12">
        {{ left }}
      </div>
      <div class="col-md-4 col-12">
        {{ center }}
      </div>
      <div class="col-md-4 col-12">
        {{ right }}
      </div>
    </div>
  </div>
{% endmacro %}

{{ threeColumn(
  left = apos.area(data.widget, 'leftContent', data.options.columnOptions if data.options.columnOptions else defaultColumnOptions),
  center = apos.area(data.widget, 'centerContent', data.options.columnOptions if data.options.columnOptions else defaultColumnOptions),
  right = apos.area(data.widget, 'rightContent', data.options.columnOptions if data.options.columnOptions else defaultColumnOptions),
  textAlignment = data.widget.textAlignment,
  verticalAlignment = data.widget.verticalAlignment
) }}
