{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.njk" %}

{% set columnOptions = {
  blockLevelControls: true,
  widgets: {
    'apostrophe-rich-text': apos.typo.standard,
    'apostrophe-images': {}
  }
} %}

{% block main %}
  <section>
    <div class="main-content">
      <h3>Hello world!
        {% if not data.user %}
          <a class="login-link" href="{{ apos.prefix }}/login">Login</a>
        {% endif %}
      </h3>
      <p>This is a very bare bones Apostrophe project. Now, get to work and make a real website!</p>
    </div>

    {{ apos.area(
      data.page, 'bodyContent', {
        widgets: {
          'cr-1-column': { columnOptions: columnOptions },
          'cr-2-column': { columnOptions: columnOptions },
          'cr-3-column': { columnOptions: columnOptions }
        }
      }) }}
  </section>
{% endblock %}

