{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.njk" %}

{% set columnOptions = {
  blockLevelControls: true,
  widgets: {
    'apostrophe-rich-text': apos.typo.standard,
    'apostrophe-images': {}
  }
} %}

{% block main %}
  <section>
    {{ apos.area(
      data.page, 'bodyContent', {
        widgets: {
          'cr-1-column': { columnOptions: columnOptions }
        }
      }) }}
  </section>
{% endblock %}

