// Breakpoints
$breakpointXs: 360px;
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
$breakpointXxl: 1500px;
// Note: these breakpoints are made available
// to JS in `src/js/constants/breakpoints.js`
// Ensure to update them if the above change.

